# Logs
**/logs
**/*.log
**/npm-debug.log

# dependencies
**/node_modules

# testing
**/coverage

# misc
**/.DS_Store
**/*.pem
**/.build
**/volume

# debug
**/npm-debug.log*

# environment variables
**/.env
**/.aws
